{% extends 'layout.html' %}

{% block body %}
<div class="container" style="margin-top:10%;">
    <div class="col-md-12">
        <h4>
            We apologize that we could not process your file or query term due to its size. We are still improving the
            search engine.
            Please communicate with <a href="mailto:aravind.narayanan@mail.utoronto.ca">aravind.narayanan@mail.utoronto.ca</a> to
            increase the size limit.
        </h4>
        <h4>Please click <a href="{{url_for('home')}}">Home</a> to return to Home Page</h4>
    </div>
</div>
{% endblock %}