<!DOCTYPE html>
<html>

<head>
  <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
  <TITLE>Calibration</TITLE>
  <!-- <link rel="stylesheet" type="text/css" href="./../static/calibration/style.css"> -->
  <!-- <link rel="stylesheet" href="./../static/calibration/bootstrap.min.css"> -->
  <!-- <script src="./../static/webgazer.js"></script> -->
  <!-- SweetAlert2 Library -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
  <script>
    const query = "{{ query }}";
    const num_cls = "{{ num_cls }}";
    const redirectUrl = `/results?query=${query}&num_cls=${num_cls}`;
    window.location.href = redirectUrl;
  </script>
</body>
</html>


</html>