<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153659007-2"></script> -->
    <!-- <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());
		gtag("config", "UA-153659007-2");
	</script> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>showme.news</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8da26dfe47.js" crossorigin="anonymous"></script>

    <!--<script src="./layout.js"></script>-->

    <!-- Use TeX to display query path breadcrumb -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
        integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
        integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4"
        crossorigin="anonymous"></script>
    <!-- load TeX on complete full page loading -->

    <script>
        // Fires when the inital HTML document has been completey loaded and parsed, without waiting for stylesheets, images, and subframes to finish loading.
        document.addEventListener("DOMContentLoaded", function () {
            const element = document.getElementById("math-tex");
            // use back tick here to allow quotation marks query to not interfere with the syntax
            const TeX = `\\text{Current query path: {{query|safe}}}`;
            if (element) {
                katex.render(TeX, element, {
                    throwOnError: false,
                });
                // open math tex on start up; see .collapsible behavior 
                element.style.maxHeight = element.scrollHeight + "px";
            }
        });
    </script>

    {% block head %}{% endblock %}

</head>

<body class="skip-style">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <!--<div class=flash>{{ message }}</div> -->
    <script>
        var message = {{ message| tojson}}
        alert(message)
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <nav>
        <!-- <div id="heading1"></div>-->
        <h1 id="main_heading">
            <!-- <a style=font-family:courier;color:#013065;opacity:0.70 id="pattieword" target="_blank"
                onclick="return !window.open('https\:\/\/en.wikipedia.org/wiki/Henriette_Avram', 'tutorial', 'width=1000,height=700')"
                href="">ETTA</a> -->
            <img id="pattieLogo" src="static/uof_logo_v2.png" width="100">
        </h1>

        <div style=color:grey; class=menu id="menu">
            <div id="sys_description" style="margin-top:20px">
            </div>
            <div class="top-container" style="right: 0px; position: fixed;">
                <a href="https://chipmail.unc.edu/t/pattie-users/" target="_blank" class='text_link' id="community_link"
                    style="display: none;">Community</a>
                <a href="." id="home_link" class='text_link' style="padding-left:15px;;">Home</a>
                <a href="{{url_for('static', filename='about.html')}}" class='text_link' style="padding-left:15px;"
                    onclick="return !window.open(this.href, 'tutorial', 'width=1000,height=700')"
                    target="_blank">About</a>
                <a href="mailto:nibras.rakib@mail.utoronto.ca" id="contact_us" class='text_link'
                    style="padding-left:15px;" target="_blank">Contact</a>
                <a href="{{url_for('help')}}"
                    onclick="return !window.open(this.href, 'tutorial', 'width=1000,height=700')" id="help"
                    class='text_link' style="padding-left:15px;">Help<i class="fa fa-question"></i></a>
                {% if stage == 'alpha' %}
                <div class="library-dropdown" style="display: none;">
                    <a class="text_link" id="library_link" href=".">Library</a>
                    <ul class="library-menu">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                {% endif %}
                {% if is_authenticated %}
                <a href="{{url_for('logout', target=url_for('home'))}}" id="signout-1" class="btn btn-primary"
                    style="background: #013065;opacity: .70; margin-left:15px; margin-right: 5px;"><i
                        class="fa fa-sign-out"></i> Sign out</a>
                {% else %}
                <a href="{{url_for('login', target=url_for('home'))}}" id="signin-1" class="btn btn-primary"
                    style="background: #013065;opacity: .70; margin-left:15px; margin-right: 5px;"><i
                        class="fa fa-sign-in"></i> Sign in</a>
                <a href="{{url_for('register', target=url_for('home'))}}" id="signup" class="btn btn-primary"
                    style="background: #013065;opacity: .70; margin-left:10px; margin-right: 5px"><i
                        class="fa fa-user-plus"></i> Register</a>
                {% endif %}
                <!-- <a target="_blank" href="{# url_for('home_voice') #}">PATTIE Voice</a> -->

                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

                <!--<a target="_blank" href="{# url_for('home_notebook') #}">PATTIE Notebook</a> -->

                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

            </div>
            <dt>
                <!-- <div class=copyright id="copyright">
                    <small>Copyright &copy;
                        <script type="text/javascript">
                            var d = new Date()
                            document.write(d.getFullYear())
                            document.write("<a  style='color:#013065' href='https://lairhub.com/'> LAIR</a>")
                        </script>
                    </small>
                </div> -->
            </dt>
        </div>
    </nav>
    {#<div class=page>
        <div id="login">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                </li>
                <!-- <ul class="signout-dropdown">
					<li><a  href="https://pattie.unc.edu/Shibboleth.sso/Login"class="btn btn-primary" style="background: dodgerblue;opacity: .70"><i class="fa fa-sign-in"></i>  Sign out</a></li>
				</ul> -->
            </ul>
        </div>
        <div id='tutorial'>

        </div>


        {#
        <script type="text/javascript">
            const login = {{ login| safe}}
            const loginType = {{ loginType| tojson}}
            const username = {{ username| tojson}}
            const homeUrl = {{ url_for('home') | tojson}}
            const logoutUrl = {{ url_for('logout') | tojson}}
            const loginHandlerUrl = {{ url_for('onyen_login_handler') | tojson}}
            const stage = {{ stage| tojson}}
        </script>
        #}
        {#
        <script type=text/javascript>


        	const login = {{login|safe}}
			// const login = true
        	const loginType = {{loginType|tojson}}
			// const loginType ='onyen';
        	const username = {{username|tojson}}
        	const queryString = window.location.search
        	const urlParams = new URLSearchParams(queryString)
        	const databaseOpt = urlParams.get("dataset_opt")

        	const currentUrl = window.location.href
        	const homeUrl = {{url_for('home')|tojson}}

        	var encodedSignOutUrl = encodeURIComponent(currentUrl)
        	// if url has dataset_opt parameter
        	if (databaseOpt) {
            // if is searching user upload file
            	if (databaseOpt.includes('.txt') || databaseOpt.includes('.csv')) {
                //console.log("searching user upload file")
                	encodedSignOutUrl = encodeURIComponent(homeUrl)
            	}
        	}

        	const stage = {{stage|tojson}}
        	if (login){
            	document.getElementById("signin").innerHTML = `<i class="fa fa-sign-in"></i>  Sign out`;
				// document.getElementById("signup").style.display="none"
				if (loginType == 'onyen') {
                	document.getElementById("signin").href = "https://pattie.unc.edu/Shibboleth.sso/Logout?return=" + encodedSignOutUrl;
					document.getElementById("community_link").style.display = "block";
				}
				if (loginType == 'general') {
               		document.getElementById("signin").href = {{url_for('logout')|tojson}} + "?target=" + encodedSignOutUrl;
				}
            	//if (stage === 'alpha') {
            	//    document.getElementByClass("library-dropdown")[0].style.visibility = "visible";
            	//}
        	}else{
            	// document.getElementById("signin").innerHTML = '<i class="fa fa-sign-in"></i>  Sign in'

				/* redirect to login page on clicking sign in button*/
        		// var encodedSignInSignUpUrl = encodeURIComponent(currentUrl)
				// document.getElementById("signin").href = {{url_for('login')|tojson}} + "?target=" + encodedSignInSignUpUrl;

				/* assign onyen sign in link to the sign in button*/
				/* get the target url to return to */
        		var encodedSignInSignUpUrl = encodeURIComponent(currentUrl)
				const encodedTarget = encodedSignInSignUpUrl
				const loginHandlerUrl = {{url_for('onyen_login_handler')|tojson}}
				/* double level of encoding is needed for browser to correctly do redirection */
				const encodedOnyenSignInUrl = encodeURIComponent(loginHandlerUrl + "?target=" + encodedTarget)
				document.getElementById("signin").href = "https://pattie.unc.edu/Shibboleth.sso/Login?target=" +  encodedOnyenSignInUrl;
				//console.log(encodedOnyenSignInUrl)

				// document.getElementById("signup").href = {{url_for('register')|tojson}} + "?target=" + encodedSignInSignUpUrl;
            	//if (stage === 'alpha') {
				//    document.getElementsByClassName("library-dropdown")[0].style.display = "none";
            	//}
        	}

    	</script>

    </div>#}
    {% block body %}{% endblock %}
    <script src="{{url_for('static', filename='layout.js')}}"></script>
</body>

</html>