{% extends "layout.html" %}

{% block body %}

<!-- {% if error %}<p class="error"><strong>Hey: </strong> {{ error }}{% endif %} -->

<!-- responsive web design tag to adjust for all devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div style=background-color:white class=container_search>
	<form name="Go" action="" method="POST" enctype="multipart/form-data" id="usrform">
		<dl>
			<dt>
				<!-- change input to value="{{ query }}" for non-voice -->
				<input type="text" name="query" id="query-primary" value="{{ query }}" autofocus
					data-intro='Input your search term here.' />
				<!-- speech recognition -->
				<!--<script>
					covid-19 alert
					alert("The COVID-19 Open Research Dataset (CORD-19) is now an option within PATTIE. You can use search terms, but a query is not required.\n\nThis dataset is part of the Call to Action on the tech community requested by The White House Office of Science and Technology Policy.\n\nThe dataset represents the most extensive machine-readable Coronavirus literature collection available for data and text mining to date with more than 13,000 full text articles.")
					</script>-->
			</dt>
			<!-- Make bottom div hidden -->
			<div class='select' style="display:none">
				<select style=text-align:center;color:grey;background-color:white;opacity:0.80 name="dataset_opt"
					id='dataset_opt' onChange='changeField(this.value)' data-intro='- Select your dataset here. <dt>
																																															- Note that you may upload your own dataset by selecting "upload".'>
					<option value="PostgreSQL">PostgreSQL</option>
					<option value="PubMedAPI">PubMed</option>
					<option value="DigiSquare">Digital Square</option>
					<option value="NewsAPI">News</option>
					<option value="Experts">Academic Experts</option>
				</select>
				<div class="select__arrow" id="select_arrow" style="display: none;"></div>

				</div>


				<!-- <div class="select" onClick='hideOption()' style="width:100%; display: inline-block;"> -->
				<div class="select" style="display: none;">
					<select style="color:#7b7b7b;opacity: 0.7;background-color:white;width:100%;text-align:center"
						name="num_cls" id="num_cls" onChange='changeClusterNumber(this.value)'
						data-intro='You can also specify the number of clusters you want to see!'>
						<option id="cluster_option" value="10">Default: 10 Clusters</option>
						<option value="2">2 Clusters</option>
						<option value="3">3 Clusters</option>
						<option value="4">4 Clusters</option>
						<option value="5">5 Clusters</option>
						<option value="6">6 Clusters</option>
						<option value="7">7 Clusters</option>
						<option value="8">8 Clusters</option>
						<option value="9">9 Clusters</option>
						<option value="10">10 Clusters</option>
					</select>
					<div class="select__arrow" id="select_arrow" style="display: none;">

					</div>
				</div>
				<!-- <div>
					<p style="text-align:center;color:#000000;opacity: 0.7;background-color:white;width:100%;text-align:center">
						<b>Suggested Query Terms:</b> Election, America, Africa, Football, Tennis, Money</p>
				</div>
				<div>
					<input id='Explore'
						style="background:#4c6d92 ;color:white;opacity:.70;display:inline-block;height:50px" type=submit
						value="Search" data-intro='Now search and see the clusters!'>
				</div> -->
				<div style="text-align:center">
					<p style="color:#000000; opacity:0.7; background-color:white; margin-bottom: 10px;">
						<b>Suggested Query Terms:</b> Election, America, Africa, Football, Tennis, Premier League
					</p>
					<div>
						<input id="Explore"
							   style="background:#4c6d92; color:white; opacity:0.70; height:50px; width:120px; border:none; cursor:pointer;"
							   type="submit"
							   value="Search"
							   data-intro='Now search and see the clusters!'>
					</div>
				</div>				
				<div class='select'>
					<select name="field" id='field' data-intro='Then specify your field.' style="visibility:hidden">
						<option value="All fields" defaultOpen>All fields</option>
					</select>
					<!--<div class="select__arrow"></div>-->
				</div>
				<div>
					<input type="file" id="inputfile" name="inputfile" style="visibility:hidden">
					<button type="button" id="delete" style="visibility:hidden">Delete File</button>
					<button type="button" onclick="redirectUpload()" id="upload" style="visibility:hidden">Upload
						Data</button>
				</div>
		</dl>
	</form>
</div>


<script>
	let uploaded_files = {{ uploaded_files| safe}}
	let clusterUrl = {{ url_for('cluster') | tojson}}
	let deleteFileUrl = {{ url_for('delete_file') | tojson}}
</script>
<script src="{{url_for('static', filename='index.js')}}"></script>


{% endblock %}