{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}" />
<style type="text/css">
  #heading1 {
    display: none;
  }
</style>
{% endblock %}
{% block body %}

<!-- <div style="color: grey;height: 10px" class="menu" id="menu">
  <a href="." id="home_link" class="text_link" style="padding-left: 15px"
    >Home</a>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="form-signin-heading">Sign In</h1>
      <form class="form-signin" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="exampleInputEmail1">User Name</label>
          {{ form.username(class="form-control", type="username") }}
          {% for error in form.username.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          {{ form.password(class="form-control",type="password") }}
          {% for error in form.password.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-group form-check">
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        </div>
        <p>{{ form.submit(class="btn btn-primary", type="submit") }}</p>
      </form>
    </div>
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<script type=text/javascript>
	/* get the target url to return to */
	const encodedTarget = {{encoded_target|tojson}}
	const loginHandlerUrl = {{url_for('onyen_login_handler')|tojson}}
	/* double level of encoding is needed for browser to correctly do redirection */
	const encodedOnyenSignInUrl = encodeURIComponent(loginHandlerUrl + "?target=" + encodedTarget)
	// document.getElementsByClassName("onyen-signin")[0].href = "https://pattie.unc.edu/Shibboleth.sso/Login?target=" +  encodedOnyenSignInUrl;

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js"></script>
<script>
    // Clear localForage upon login
    document.addEventListener("DOMContentLoaded", function() {
        localforage.clear().then(() => {
            console.log("Local forage cleared successfully after login.");
        }).catch((error) => {
            console.error("Error clearing local forage:", error);
        });
    });
</script>
{% endblock %}