{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}" />
<style type="text/css">
  #heading1 {
    display: none;
  }
</style>
{% endblock %}
{% block body %}

<div id="heading1">
  <h1 id="main_heading">
    <a style="font-family: courier; color: #4c6d92; opacity: 0.70;" id="pattieword" href=".">ShowMe.news</a>
    <img id="pattieLogo" src="{{ url_for('static', filename='uoft_logo_v2.png') }}" width="100">
  </h1>
</div>
<div class="container">
  <div class="row" style="margin-top:120px;">
    <div class="col-md-12">
      <h1 class="form-signin-heading">Sign Up</h1>
      <form class="form-signin" action="" method="post">
        {{ form.hidden_tag() }}

        <div class="">
          {{ form.username.label }}
          {{ form.username(class='registration form-control') }}<br />
          {% for error in form.username.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="">
          {{ form.email.label }}<br />
          {{ form.email(class='registration form-control') }}<br />
          {% for error in form.email.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="">
          {{ form.password.label }}<br />
          {{ form.password(class='registration form-control') }}<br />
          {% for error in form.password.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="">
          {{ form.password2.label }}<br />
          {{ form.password2(class='registration form-control') }}<br />
          {% for error in form.password2.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="buttons" style="display: inline; float: left">
          <p>{{ form.submit() }}</p>
          <p style="text-align: center; width: 104%">
            Already have an account?<a href="{{url_for('login')}}?target={{encoded_target}}"> Sign In</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
<script type=text/javascript>
	/* get the target url to return to */
	const encodedTarget = {{encoded_target|tojson}}
	const loginHandlerUrl = {{url_for('onyen_login_handler')|tojson}}
	/* double level of encoding is needed for browser to correctly do redirection */
	const encodedOnyenSignInUrl = encodeURIComponent(loginHandlerUrl + "?target=" + encodedTarget)
	document.getElementsByClassName("onyen-signin")[0].href = "https://pattie.unc.edu/Shibboleth.sso/Login?target=" +  encodedOnyenSignInUrl;

</script>